@media (max-width: 1200px) {
    body {
        background-color: rgb(11, 11, 15);
    }

    .cabecalho {
        margin-bottom: 20px;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .informacoes {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;
    }

    .imagem-titulo {
        max-width: 100%;
    }

    .mario {
        width: 40%;
        margin-top: 40px;
    }
}